
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyLayoutPage</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="bg-primary  ">
            <h1><b>Product App</b></h1>
        </div>
    </div>
    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p> My ASP .NET LAB EXAM </p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
